@mixin Flex ($direction ) {
    display: flex;
    flex-direction: $direction;
}

@mixin DefaultPanel {
    padding: 1rem;
    background: var(--surface-card);
    @include Flex(column);
    border-radius: 10px
}


.main-brokers-list {
    .p-datatable {
        width: 100%;
    }
     .p-datatable .p-datatable-tbody > tr > td {
        color: var(--text) !important;
        background: var(--surface-card) !important;
        border-color: var(--dark-border) !important;

      }

      .p-datatable .p-datatable-thead > tr > th {
        background: var(--bg) !important;
        border-color: var(--dark-border) !important;
        color: var(--text);
      }

      @include Flex(column);
      width: 100%;
      .head {
        @include Flex(column);
        margin: auto;
        max-width: 400px;
        align-items: center;
        .subtitle {
          font-size: 1.2rem;
          color: var(--gray);
          padding-bottom: 1rem;
        }
        h2 {
          font-size: 2.5rem;
          font-weight: 600;
          padding-bottom: 1rem;
          border-bottom: .15rem solid var(--primary-color)
        }
      }

      .box {
          @include DefaultPanel();
          align-items: flex-start;
          height: 100%;
          justify-content: center ;

          .btn-controller  {
            @include Flex(column);
            align-items: center;
            width: 100%;
            justify-content: center;
            .review {
              cursor: pointer;
              padding-bottom: .3rem;
              transition: .6s;
              &:hover {
                color: var(--green);
                border-bottom: 1px solid var(--green);
              }
            }
            button {
              font-size: 14px;
              background: #3A3E59 !important;
              outline: #3A3E59 !important;
              border: none;
              margin-bottom: 1rem;
            }
          }

         .controller {
          @include Flex(row);
          width: 100%;
          &.column {
            @include Flex(column);
            justify-content: center;
            align-items: center;
            span {
              font-size: 1.1rem;
              font-weight: 600;
            }
            img {
              width: 60px;
              height: 60px;
              border-radius: 10px;
              margin-bottom: .5rem;
            }
          }
         }
      }
}