figure.snip1216 {
  color: var(--text);
  position: relative;
  overflow: hidden;
  margin: 10px;
  min-width: 220px;
  max-width: 308px;
  width: 100%;
  background-color: var(--bg);
  text-align: left;
  font-size: 16px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  padding: 0;
}
figure.snip1216 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
figure.snip1216 .image {
  max-height: 220px;
  overflow: hidden;
  height: 100%;
  
}
figure.snip1216 img {
  max-width: 100%;
  vertical-align: top;
  position: relative;
  object-fit: cover;
  object-position: center;
  height: 100%;
}
figure.snip1216 figcaption {
  padding: 1rem .8rem;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}
figure.snip1216 .date {
  background-color: #c0392b;
  top: 25px;
  color: var(--text);
  min-height: 48px;
  min-width: 48px;
  text-align: center;
  font-size: 20px;
  max-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}
figure.snip1216 .date span {
  display: block;
  line-height: 24px;
}
figure.snip1216 .date .month {
  font-size: 14px;
  background-color: rgba(0, 0, 0, 0.1);
}
figure.snip1216 h4,
figure.snip1216 p {
  margin: 0;
  padding: 0;
}
figure.snip1216 h4 {
  min-height: 50px;
  margin-left: .5rem;
  display: inline-block;
  font-weight: 600;
  text-transform: uppercase;
  display: block; /* Fallback for non-webkit */
  display: -webkit-box;
  height: 2.6em; /* Fallback for non-webkit, line-height * 2 */
  line-height: 1.3em;
  -webkit-line-clamp: 2; /* if you change this, make sure to change the fallback line-height and height */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
figure.snip1216 p {
    font-size: 0.8em;
    margin-bottom: 20px;
    text-transform: uppercase;
    display: block;
    display: -webkit-box;
    height: 5.3em;
    line-height: 1.3em;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
figure.snip1216 footer {
  padding: 0 25px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #e6e6e6;
  font-size: 0.8em;
  line-height: 30px;
  text-align: right;
}
figure.snip1216 footer > div {
  display: inline-block;
  margin-left: 10px;
}
figure.snip1216 footer i {
  color: rgba(255, 255, 255, 0.2);
  margin-right: 5px;
}
figure.snip1216 a {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  z-index: 1;
}
figure.snip1216:hover img,
figure.snip1216.hover img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
