@mixin Flex ($direction ) {
    display: flex;
    flex-direction: $direction;
}

@mixin Wrap {
    display: flex;
    flex-wrap: wrap;
}

@mixin DefaultPanel {
    padding: 1rem;
    background: var(--surface-card);
    @include Flex(column);
    border-radius: 10px
}

@mixin GradientBg {
    background: rgb(51,120,255);
    background: -moz-linear-gradient(308deg, rgba(51,120,255,1) 0%, rgba(148,66,254,1) 100%);
    background: -webkit-linear-gradient(308deg, rgba(51,120,255,1) 0%, rgba(148,66,254,1) 100%);
    background: linear-gradient(308deg, rgba(51,120,255,1) 0%, rgba(148,66,254,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#3378ff",endColorstr="#9442fe",GradientType=1); 
}

.room-controller {
    @include Flex(column);
    .streaming-controller {
         @include Flex(row);

        .screen-controller {
            @include DefaultPanel();
            flex: 8;
            .head {
                @include Wrap();
                .side {
                    @include Wrap();
                    flex: 8;
                    .controller {
                        @include Flex(row);
                    }
                    .child {
                        @include Flex(column);
                        align-items: flex-start;
                        justify-content: center;
                        margin-right: 1rem;
                        .icon-controller {
                            background: var(--red);
                            padding: .3rem .8rem;
                            border-radius: 8px;
                            @include Flex(column);
                            align-items: center;
                            justify-content: center;
                            span {
                                color: #fff;
                            }
                            svg {
                                color: #fff;
                                font-size: 2rem;
                            }
                        }
                    }
                    &:last-child {
                        flex:3;
                        justify-content: flex-end;
                        .controller {
                            padding: 0 .5rem;
                        }
                        span {
                            font-size: 1rem;
                            font-weight: 600;
                            position: relative;
                            top: .1rem
                        }
                    }
                }
            }
            .video-controller {
                @include Flex(row);
                width: 100%;
                padding: 1rem 0;
                video {
                    width: 100%;
                }
            }
            .footer-controller {
                @include Wrap();
                justify-content: space-between;
                .side {
                    @include Wrap();
                }
                .child {
                    @include Flex(column);
                    justify-content: center;
                    .profile {
                        width: 55px;
                        height: 55px;
                        border-radius: 50%;
                        object-fit: cover;
                        border: .25rem solid var(--primary-color)
                    }
                    &.time {
                        position: relative;
                        top: .1rem;
                        margin-right: 1rem;
                    }
                    .join {
                        background: var(--bg);
                        border-color: var(--bg);
                        color: var(--text);
                        min-width: 120px;
                        font-weight: 600;
                        border-radius: 5px;
                    }
                    .rate-controller {
                        button {
                          background: transparent;
                          border: none
                        }
                    }
                }
            }
        }
        .chat-controller {
            @include DefaultPanel();
            flex: 4;
        }
    }
.banner-controller {
    @include Flex(column);
    align-items: flex-end;
    img {
        max-height: 344px;
        @media (min-width:1550px) {
            object-fit: contain !important;
            object-position: right;
        }
    }
}
    .quiz-answer {
        @include DefaultPanel();
        max-width: 400px;
        height: 100%;
        justify-content: space-between;
        .head {
            @include Flex(column);
            .progress-controller {
                @include Flex(row);
                border-radius: 10px;
                .progress-bar-controller {
                    @include Flex(row);
                    flex:7;
                    padding-right: 1rem;
                    .p-progressbar {
                        width: 100%;
                        height: 12px;
                        
                    }
                }
                .counter {
                    @include Flex(row);
                    flex: 1;
                    align-items: center;
                    justify-content: flex-end;
                    img {
                        position: relative;
                        bottom: 3px;
                        width:22px;
                        height:15px;
                        margin-right: .4rem;
                    }
                }
            }

            .quiz {
                font-size: 1.5rem;
                display: flex;
                font-weight: 500;
                justify-content: center;
                margin-top: 2rem;
                margin-bottom: 2rem;
            }
        }
        .answer-controller {
            @include Flex(column);
            position: relative;
            .answer {
                color: var(--text);
                position: relative;
                padding: 1rem;
                border-radius: 10px;
                transition: all 0.2s cubic-bezier(.4,0,.2,1); 
                cursor: pointer;
                background: var(--bg);
                font-size: 1.1rem;
                @include Flex(row);
                align-items: center;
                margin-bottom: 1rem;
                .point {
                    background: var(--primary-color);
                    padding: .5rem;
                    color: var(--bg);
                    padding-top: .8rem;
                    font-size: 1.1rem;
                    border-radius: 50%;
                    width: 35px;
                    height: 35px;
                    @include Flex(row);
                    justify-content: center;
                    align-items: center;
                    margin-right: 1rem;
                }
                &.active {
                    width: 100%;
                    opacity: 1;
                    animation-name: explode;
                    animation-duration: 0.20s;
                    color: #fff;
                   @include GradientBg()
                }
            }
        }

        .btn-next-controller {
            margin-top: 2rem;
            width: 100%;
            button {
                @include GradientBg();
                border: none;
                width: 100%;
                font-size: 1.2rem;
                font-weight: 600;
                padding-top: .7rem;
                border: none !important;
                outline: none !important;
            }
        }
    }
    .p-progressbar {
        background: var(--bg) !important;
    }
    .p-progressbar .p-progressbar-value {
        @include GradientBg();
        border-radius: 0 5px 5px 0;
    }
}



@keyframes explode {
	0%{
		opacity: 0;
		transform: scale(1);
	}
	60%{
		opacity: 1;
		transform: scale(0.8);
	}
	100%{
		opacity: 1;
		transform: scale(1);
	}
}
