@mixin Flex ($direction ) {
    display: flex;
    flex-direction: $direction;
}

@mixin Wrap {
    display: flex;
    flex-wrap: wrap;
}

@mixin DefaultPanel {
    padding: 1rem;
    background: var(--surface-card);
    @include Flex(column);
    border-radius: 10px
}

@mixin BtnStyle {
    font-size: 14px;
    background: #3A3E59 !important;
    outline: #3A3E59 !important;
    border: none;
    height: 40px;
    padding-top: 1rem;
}


.main-comparison-controller {
    .p-datatable {
        width: 100%;
    }
     .p-datatable .p-datatable-tbody > tr > td {
        color: var(--text) !important;
        background: var(--surface-card) !important;
        border-color: var(--dark-border) !important;

      }

      .p-datatable .p-datatable-thead > tr > th {
        background: var(--bg) !important;
        border-color: var(--dark-border) !important;
        color: var(--text);
      }

      @include Flex(column);
      width: 100%;
      align-items: center;
      .head {
        @include Flex(column);
        margin: auto;
        align-items: center;
        .subtitle {
          font-size: 1.2rem;
          color: var(--gray);
          padding-bottom: 1rem;
        }
        h2 {
          font-size: 2.5rem;
          font-weight: 600;
          padding-bottom: 1rem;
          border-bottom: .15rem solid var(--primary-color)
        }
      }

      .box {
        @include DefaultPanel();
        max-width: 756px;
        width: 100%;
        .p-accordion .p-accordion-tab:first-child .p-accordion-header .p-accordion-header-link , .p-accordion .p-accordion-content , .p-accordion .p-accordion-tab:not(:first-child) .p-accordion-header .p-accordion-header-link {
            background: transparent !important;
            border: none;
            border-bottom: .15rem solid var(--dark-border);
            box-shadow: none !important;
            color: var(--text);
        }

        .p-accordion .p-accordion-content {
            border: none;
        }
        .p-dropdown {
            color: var(--text) !important;
            max-width: 300px;
            height: 55px;
            background: var(--surface-card);
            border-color: var(--dark-border) !important;
            @include Flex(row);
            align-items: center;
            .p-dropdown-label {
                color: var(--text) !important;

            }
        }
       
        .p-dropdown .p-dropdown-trigger {
            border-left: 1px solid var(--dark-border);
            height: 40px;
            color: var(--text) !important;

        }


        .child {
            @include Flex(column);
            align-items: center;
            justify-content: center;
            width: 100%;
            img {
                width: 65px;
                height: 65px;
            }

            .sing-up {
                @include BtnStyle();
            }

            .h-line {
                width: 100%;
                display: block;
                height: 2px;
                background: var(--dark-border);
            }
        }
      }
}