@mixin Flex ($direction ) {
    display: flex;
    flex-direction: $direction;
}

@mixin Wrap {
    display: flex;
    flex-wrap: wrap;
}

@mixin DefaultPanel {
    padding: 1rem;
    background: var(--surface-card);
    @include Flex(column);
    border-radius: 10px
}

.main-profile-controller {
    @include Flex(column);
    .p-datatable {
        width: 100%;
    }
     .p-datatable .p-datatable-tbody > tr > td {
        color: var(--text) !important;
        background: var(--surface-card) !important;
        border-color: var(--dark-border) !important;

      }

      .p-datatable .p-datatable-thead > tr > th {
        background: var(--bg) !important;
        border-color: var(--dark-border) !important;
        color: var(--text);
      }
      svg {
        background: transparent !important;
    }
    .box {
      @include DefaultPanel();
        height: 100%;
        justify-content: space-between;
      .company-icon {
        width: 35px;
        height: 35px;
        border-radius: 50%;
      }
      .controller {
        @include Flex(row);
        justify-content: space-between;
        align-items: center;
        .profile {
            @include Flex(row);
            .child {
                img {
                    width: 55px;
                    height: 55px;
                    border-radius: 50%;
                }
                @include Flex(column);
                align-items: center;
                justify-content: center;
                &:last-child {
                    margin-left: 1rem;
                    align-items: flex-start;
                    font-size: 1.2rem;
                    font-weight: 600;
                    .subtitle {
                        font-size: 1rem;
                        word-spacing: 0;
                        letter-spacing: .15%;
                        color: var(--gray);
                    }
                    
                }
            }
        }
    }
    }
}