@mixin Flex ($direction ) {
    display: flex;
    flex-direction: $direction;
}

@mixin Wrap {
    display: flex;
    flex-wrap: wrap;
}

@mixin DefaultPanel {
    padding: 1rem;
    background: var(--surface-card);
    @include Flex(column);
    border-radius: 10px
}

.Competition-Details-controller {
    @include Flex(column);
    .box {
        @include DefaultPanel();
    }
    svg {
        background: transparent !important;
    }
    .my-details {
        @include DefaultPanel();
        .controller {
            @include Flex(row);
            justify-content: space-between;
            .profile {
                @include Flex(row);
                .child {
                    img {
                        width: 55px;
                        height: 55px;
                        border-radius: 50%;
                    }
                    @include Flex(column);
                    align-items: center;
                    justify-content: center;
                    &:last-child {
                        margin-left: 1rem;
                        align-items: flex-start;
                        font-size: 1.2rem;
                        font-weight: 600;
                        .subtitle {
                            font-size: 1rem;
                            word-spacing: 0;
                            letter-spacing: .15%;
                            color: var(--gray);
                        }
                        
                    }
                }
            }
        }
        .ranking-table-controller {
            max-width: 100% !important
        }
        .timer-controller {
            @include Flex(row);
            justify-content: space-between;
            .cont {
                @include Flex(column);
                align-items: center;
                flex: 1;
                padding: 0 1rem;
                span {
                    margin-bottom: .5rem;
                    font-size: 1.1rem;
                    font-weight: 600;
                }
                .item {
                    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
                    color: var(--text);
                    background: var(--bg);
                    padding: .5rem;
                    font-size: 1.2rem;
                    border-radius: 4px;
                    @include Flex(row);
                    align-items: center;
                    width: 100%;
                    justify-content: center;
                }
            }
        }
    }
}