
$border :.15rem solid var(--gray);
$radius: 10px;

$comment-img-size: 3rem;
$comment-img-size-sm: 1.75rem;

@mixin Flex ($direction ) {
    display: flex;
    flex-direction: $direction;
}

@mixin Wrap {
    display: flex;
    flex-wrap: wrap;
}

@mixin DefaultPanel {
    padding: 1rem;
    background: var(--surface-card);
    @include Flex(column);
    border-radius: $radius
}

@mixin BtnStyle {
    font-size: 14px;
    background: #3A3E59 !important;
    outline: #3A3E59 !important;
    border: none;
    height: 40px;
    padding-top: 1rem;
}

.broker-review-main-controller {
    @include Flex(column);
    color: var(--text);
    max-width: 992px;
    position: relative;
    .head {
        @include Wrap();
        background: var(--surface-card);
        padding: 1rem;
        border-radius: $radius;
        align-items: center;
        justify-content: space-between;
        .child {
            padding-right:1rem ;
            @include Flex(column);
            align-items: flex-start;
            justify-content: flex-end;
            .btn-controller  {
                @include Flex(row);
                align-items: flex-end;
                width: 100%;
                justify-content: flex-end;
              
                button {
                 @include BtnStyle();
                }
              }
            .controller {
                @include Flex(row);
                align-items: flex-end;
                img {
                    width: 28px;
                    
                }
            }

            span {
                &:first-child {
                    margin-bottom:.4rem ;
                }
            }
            img {
                width: 65px;
                grid-template: 65px;
                border-radius: 8px;
                margin-right: $radius;
            }
            &.score {
                @include Flex(row);
                align-items: center;
                position: relative;
                top: 1rem;
                
            }
        }
    }

    .review-controller {
        background: var(--surface-card);
        padding: 1rem;
        margin: 1rem 0 0;
        border-radius: $radius;

        .comment-controller-main {
            font-size: .875rem;
            textarea {
                background: var(--bg) !important;
                border-color: var(--dark-border) !important;
                color: var(--text);
                border-radius: 5px !important;
            }
            .comment-controller {
                color: var(--text);
            }

            .comment-btn {
                background: #3a3e59;
                border-color: #3a3e59;
            }
            .comment {
                &-img {
                   width: $comment-img-size;
                   height: $comment-img-size;
                }
                   
                &-replies &-img {
                   width: $comment-img-size-sm;
                   height: $comment-img-size-sm;
                }
             }
             
             .form-control {
                background-color: rgba(#ffffff, .05);
             }
             
             
             /* ----- testing ----- */
             .app-menu {
                .btn {
                   width: 2.5rem;
                   height: 2.5rem;
                   padding: 0;
                   font-size: 1.5rem;
                }
             }
            
        }
        table.bc_procon_table {
            border-collapse: separate;
            border-spacing: 0;
            margin-bottom: 20px;
            margin-top: 20px;
            table-layout: fixed;
            width: 100%;
            max-width: 670px;
            border-bottom: $border;
        }
        .con_bullet {
            color: var(--red);
        }
        table.bc_procon_table tr:first-child .pro_header {
            border-bottom: $border;
            border-left: $border;
            border-top: $border;
            border-top-left-radius: $radius;
            padding: .5rem 1rem;
            color: var(--green);
        }
        table.bc_procon_table tr:first-child > * {
            font-size: 16px;
            font-weight: 500;
            line-height: 30px;
            padding: 1rem;
            padding: 15px 0;
        }

        table.bc_procon_table tr:not(:first-child) .pro_cell {
            border-left: $border;
            padding: .5rem 1rem ;
        }
        table.bc_procon_table tr:first-child .con_header {
            border-bottom: $border;
            border-right: $border;
            border-top: $border;
            border-top-right-radius: $radius;
            border-left: $border;
            padding: .5rem 1rem;
            color: var(--red);
        }

        table.bc_procon_table tr:not(:first-child) .pro_bullet {
            color: var(--green);
            font-size: 18px;
            padding-right: 5px;
        }

        table.bc_procon_table tr:not(:first-child) .con_cell {
            border-right: $border;
            border-left: $border;
            padding: 0 .5rem;
        }
        blockquote {
            background: var(--blockquote);
        }
        .controller {
            @include Flex(row);
            justify-content: space-between;
            align-items: center;
            button {
                @include BtnStyle();
                min-width: 150px;
            }
            strong {
                line-height: 3;
                font-size: 1rem;
            }
        }
    }
}