@mixin Flex ($direction ) {
    display: flex;
    flex-direction: $direction;
}
@mixin Wrap () {
    display: flex;
    flex-wrap: wrap;
}


.main-teacher-controller {

    @include Flex(column);
    .header {
        @include Flex(column);
        .swiper-controller {
            display: block;
            width: 100%;
            padding: 1rem 0;
            border-bottom: .15rem solid var(--dark-border);
            .swiper {
                margin-left: 0;
            }
            .swiper-item {
                @include Flex(column);
                align-items: center;
                justify-content: center;
                width: 120px;

                .img-controller {
                    width: 83px;
                    height: 83px;
                    border-radius: 50%;
                    border: .2rem solid var(--dark-border);
                    &.border-red {
                        border: .2rem solid var(--red);
                    }
                }
                img {
                    width: 100%;
                    height: 100%;
                    border-radius: 50%;
                    object-fit: cover;
                    object-position: center;
                }

                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                span {
                    width: 100%;
                    display: block;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    text-align: center;
                }

            }
        }
    }

    .main-list-controller {
        padding: 1rem;
        @include Wrap();
        border-bottom: .15rem solid var(--dark-border);
        .swiper {
            margin-left: 0;
        }
      
    }
}