@mixin Flex ($direction) {
    display: flex;
    flex-direction: $direction;
    width: 100%;
}


.wallet-controller {
    .swap-controller .swap-panel .p-inputtext {
        height: 100%;
        font-size: 1.4rem;
    }

    .swap-history-controller {
        margin: 1rem 0 ;
        background: var(--surface-overlay);
        border-radius: 15px;
        overflow: hidden;
        padding: 0 1rem 1rem;
        height: 100%;
        @media (min-width:756px) {
            max-height: 93%;
        }
        .head {
            padding: 1rem;
        }
    }
    
    @include Flex(column);
    .box {
        @include Flex(column);
        background: var(--surface-overlay);
        padding: 1rem;
        border-radius: 10px;
        min-width: 350px;
        .controller {
            @include Flex(row);
            justify-content: space-between;
            align-items: flex-end;
            .fw-b {
                position: relative;
                top: .4rem;
            }
            img {
                width: 35px;
                height: 35px;
                border-radius: 50%;
                margin-right: .8rem;
            }
            &.start {
                justify-content: flex-start;
               
            }

            button {
                width: 100%;
                border: none !important;
                background: #F9AC66 !important;
                outline: #F9AC66 !important;
                &.secondary {
                    background: #ED6B5b !important;
                    outline: #ED6B5b !important;
                }

                &.tether-1 {
                    background: #4Fa3a5 !important;
                    outline: #4Fa3a5 !important;
                }
                &.tether-2 {
                    background: #7D50B9 !important;
                    outline: #7D50B9 !important;
                }
                &.eth-1 {
                    background: #3A3E59 !important;
                    outline: #3A3E59 !important;
                }
                &.eth-2 {
                    background: #EcE6ce !important;
                    outline: #EcE6ce !important;
                    color: #212121;
                }
            }
        }
        .head {
            @include Flex(column);
            
        }
    }
    
    .swap-controller {
        width: 100%;
        padding: 1rem 0;
        display: flex;
        justify-content: flex-start;
       
        .swap-panel {
            width: 100%;
            min-width: 370px;
            background: var(--surface-card);
            padding: 1rem;
            border-radius: 8px;
            .p-inputtext {
                background: var(--bg) !important;
                border: none;
                box-shadow: none !important;
                color: var(--text);
            }
            @media (min-width:576px) {
                padding: 1.5rem;
            }

            .middle {
                display: flex;
                justify-content: center;
                padding: .8rem .5rem ;
                button {
                    border: none !important;
                    box-shadow: none !important;
                    background: transparent;
                    max-width: 55px;
                    height: 55px;
                    display: flex;
                    justify-content: center;
                    border-radius: 50%;
                    min-width: auto !important;
                    width: 100%;
                    img {
                        width: 100%;
                    }
                    
                }
            }
            
            .swap-button {
                padding-top: 1.5rem ;
                width: 100%;
                button {
                    background: #7d50b9;
                    border: none;
                    width: 100%;
                    border-radius: 5px;
                }
            }
            .swap-form {
                display: flex;
                flex-direction: column;
                border-radius: 8px;
                overflow: hidden;
                .controller {
                    display: flex;
                    flex-direction: row;
                    width: 100%;
                    align-items: center;
                    justify-content: space-between;
                    padding: .8rem 1rem 0;
                 
                    .text {
                        color: var(--text);
                    }
                    &:first-child button {
                        min-width: fit-content;
                        border-radius: 8px 8px 0 0;

                    }

                    &:nth-child(1) , &:nth-child(2) {
                        background: var(--bg);
                    }
                    &:nth-child(2) {
                        padding-top: 0;
                        border-radius:0 0 8px 8px;
                    }
                    .choose-box { 
                        display: flex;
                        flex-direction: row;
                        align-content: center;
                        width: 100%;
                        .selected-coin {
                            display: flex;
                            width: 100%;
                            flex-direction: row;
                            justify-content: space-between;
                            align-items: center;
                            padding: .5rem 0;
                            transition: .6s;
                            cursor: pointer;
                            border-radius: 5px;
                            color: var(--text);

                            
                            &:hover {
                                background: var(--scenery);
                            } 
                            img {
                                width: 23px;
                                height: 23px;
                                border-radius: 50%;
                            }

                            .center {
                                display: flex;
                                align-items: center;
                            }
                            .line {
                                height: 24px;
                                width: 1px;
                                background: var(--gary);
                                margin: 0 0.5rem;
                                display: block;
                            }
                        }

                        .input-controller {
                            width: fit-content;
                            max-width: 88%;
                            overflow: hidden;
                            padding: 0 .5rem;
                        }
                    }
                }
            }
        }
    }

    tbody, td, tfoot, th, thead, tr  {
        background: var(--bg);
        border-color: var(--surface-overlay);
        color: var(--text);
    }

    .p-datatable .p-datatable-thead > tr > th {
        color: var(--text);
        background: var(--bg);
    }

    .p-datatable .p-datatable-tbody > tr > td {
        @media (min-width:960px) {
         border: none !important;
        }
    }

    .p-datatable {
        border-radius: 8px !important;
        overflow: hidden;
    }
}

.coin-list-swap {
    @include Flex(column);
    .item {
        @include Flex(row);
        margin-bottom: .8rem ;
        align-items: center;
        color: var(--text);
        &:last-child {
            margin-bottom:0 ;
        }
        img {
            width: 35px;
            height: 35px;
            border-radius: 50%;
            margin-right: .5rem;
        }
        span {
            font-size: 1.2rem;
        }
    }
}

.p-overlaypanel {
	background: var(--bg);
	color: rgba(255, 255, 255, 0.87);
	border: 1px solid var(--bg);
	border-radius: 3px;
	box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2), 0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 9px 46px 8px rgba(0, 0, 0, 0.12);
}